/* Main container */
.content {
    padding: 1.5rem;
    /* background-color: #f31616; */
    width: 1160px;
    margin-top: -238px;
    height:75vh;
    
    margin-left: 40px;
    
    
  }
  
  /* Top box */
  .top-box {
    background-color: white;
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 1rem;
    width:1150px;
    display: flex;
    margin-top: -20px;
  }
  
  .user-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    float: left;
    font-family: "Montserrat", serif;
  }
  
  .date-info {
    font-size: 1rem;
    color: #555;
    float: right;
    margin-left: 780px;
    font-family: "Montserrat", serif;
  }
  

 