* {
    margin:0;
    padding:0;
    font-family: 'Arvo';
  }
  
  body{
    background-color: #fef7f8;
  }
  
  .main{
    height:300px;
    width:100%;  
    display:flex;
    align-items:center;
    justify-content:center;
    text-align:center;
    
    
  }
  h1{
    text-align:center;
    /* text-transform: uppercase; */
    color: #1e1e1e; 
    font-size: 6rem;
    font-family: "Montserrat", serif;
  }

  #map
  {
    color:rgb(79, 79, 247);
    font-family: "Montserrat", serif;
    font-size: 6rem;

  }
  
  .roller{
    height: 4.125rem;
    line-height: 4rem;
    position: relative;
    overflow: hidden; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* color: #033985; */
    color: rgb(128, 127, 127);
  }
  
  
  #spare-time{
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 1rem;
    margin-top: 0;
    color: #08bbc1;
    
  }
  
  .roller #rolltext {
    position: absolute;
    top: 0;
    animation: slide 7s infinite; 
    font-size: 3rem; 
    font-weight: 400;
    font-family: "Montserrat", serif;
  }
  
  @keyframes slide {
    0%{
      top:0;
    }
    25%{
      top: -4rem;    
    }
    50%{
      top: -8rem;
    }
    72.5%{
      top: -12.25rem;
    }
  }
  
  @media screen and (max-width: 600px){
    h1{
    text-align:center;
    text-transform: uppercase;
    color: #F1FAEE; 
    font-size: 2.125rem;
  }
    
    .roller{
    height: 2.6rem; 
    line-height: 2.125rem;  
    }
    
    #spare-time {
      font-size: 1rem;
      letter-spacing: 0.1rem;
    }
    
    .roller #rolltext {  
    animation: slide-mob 5s infinite;  
  }
    
    @keyframes slide-mob {
    0%{
      top:0;
    }
    25%{
      top: -2.125rem;    
    }
    50%{
      top: -4.25rem;
    }
    72.5%{
      top: -6.375rem;
    }
  }
  }
.intro p{
    text-align: center;
    font-size: 30px;
    font-family: "Montserrat", serif;
    font-weight: 400;
    color: rgb(80, 80, 80);
}
/* .btn-grad {background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%)}
.btn-grad {
   margin: 20px;
   padding: 20px 65px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   border: none;
   display: flex;
   justify-content: center;
   justify-self: center;

 } */

 /* From Uiverse.io by cssbuttons-io */ 
/* .bt {
  margin-left:650px;
  margin-top: 20px;
  position: relative;
  font-size: 17px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 2.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: "Montserrat", serif;
  font-weight: 500;
  color: black;
  background-color: white;

}

.bt:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.bt:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.bt::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.bt::after {
  background-color: #fff;
}

.bt:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
} */


/* From Uiverse.io by Gaurav-WebDev */ 
.button {
  height: 50px;
  margin-left: 650px;
  margin-top: 20px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #252525;
  overflow: hidden;
  border-radius: 30px;
  color: #5a5959;
  transition: all 0.5s ease-in-out;
 

.btn-txt {
  z-index: 1;
  font-weight: 600;
  letter-spacing: 2px;
   font-family: "Montserrat", serif;
}
}

.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: #044288;
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  box-shadow: 1px 1px 200px #252525;
  color: #fff;
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}


 .components{
    margin: 50px;
    padding-top: 30px;
    display: flex;
    float: left;
    margin-left: 210px;
    gap: 70px;
 }
    
    .words{
        margin: 5px;
        font-size: 20px;
        font-family: "Montserrat", serif;
        margin-left: 20px;
        color: #5a5959;
        margin-bottom: -5px;
      }
 
 .card img{
    
    width: 220px;
    height: 150px;
    border: 1px solid black;
    border-radius: 30px;
 }

 /* From Uiverse.io by adamgiebl */ 
.card {
  width: 220px;
  height: 260px;
  /* display: flex; */
  border-radius: 30px;
  /* background: #e0e0e0;
   */
   background-color: #fef7f8;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}


.f-1{
  display: flex;
  float: left;
  margin: 100px;
}
.img{
  float: right;
}
.img1 img{
  height: 500px;
  width: 500px;
  border: none;
  border-radius: 50px;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;

}
.para{
  /* font-size: 2.125rem; */
  font-family: "Montserrat", serif;
  padding-top: 80px;
  margin-right: 230px;
  margin-left: 50px;
}
  
.heading{
  font-family: "Montserrat", serif;
  font-size:50px;
  font-weight: 700;
}

.content
{
  font-family: "Montserrat", serif;
  font-size:30px;
  color:gray;
  margin-top: 20px;
}

.map2{
  color:rgb(79, 79, 247);
  font-family: "Montserrat", serif;
}
.f-2{
  display: flex;
  float: left;
  margin: 100px;
}

.img2 img{
  height: 500px;
  width: 500px;
  border: none;
  border-radius: 50px;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;

}
.para2{
  /* font-size: 2.125rem; */
  font-family: "Montserrat", serif;
  padding-top: 80px;
  margin-left: 190px;
  margin-right: 50px;
  

}

.heading2
{
  font-family: "Montserrat", serif;
  font-size:50px;
  font-weight: 700;
}

.content2
{
  font-family: "Montserrat", serif;
  font-size:30px;
  color:gray;
  margin-top: 20px;

}
