/* Sidebar container */
.sidebar {
  width: 250px;
  height: 78vh;
  background-color: #f8f9fa;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
}

/* Profile image */
.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

/* Profile name */
.profile-name {
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #333;
  text-align: center;
  font-family: "Montserrat", serif;
                font-weight: 600;
}

/* Separator line */
.separator {
  width: 80%;
  border: 0;
  border-top: 1px solid #ddd;
  margin: 1.5rem 0;
}

/* Sidebar buttons container */
.sidebar-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: center;
  margin-top:30px;
}

/* Buttons styling */
/* From Uiverse.io by adamgiebl */ 
/* From Uiverse.io by portseif */ 
/* From Uiverse.io by satyamchaudharydev */ 
/* From Uiverse.io by xueyuantan */ 
.neu-button {
    width: 11em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5,
                -6px -6px 12px #ffffff;
                font-family: "Montserrat", serif;
                font-weight: 500;
                color:gray;
   }
   
   .neu-button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    /* background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%); */
    background-color:yellow;
    transition: .5s ease;
    display: block;
    z-index: -1;
    
   }
   
   
   .neu-button:hover::before {
    width: 9em;
    
   }

   .neu-button:hover
   {
    color:black;
   }



   